version: '3.1'
services:
  client:
    container_name: client
    image: client-prod
    build:
      context: .
      dockerfile: ./client/Dockerfile
      target: production
    ports:
      - '80:80'
    depends_on:
      - server
      - mongo
  server:
    container_name: server
    image: server-prod
    build:
      context: .
      dockerfile: ./server/Dockerfile
    environment:
      - NODE_ENV=production
      - PORT=5000
      - DB_URL=mongodb://mongo:27017/accountill
      - SECRET=${SECRET:-change_me_in_prod}
    ports:
      - '5000:5000'
    depends_on:
      - mongo
  mongo:
    image: mongo:7
    container_name: MONGODB
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
